node_modules
# Keep environment variables out of version control
.env
.env.local
.env_prod
dist/
/generated/prisma
*.map.env.backup
.env.backup
docs/
.env_2.env_deletar
.env_2
grid_w_alunoCursos.xlsx
prisma/seeds/reports/
